#items-section{
    display:inline-table

}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(145,99,35,1) 40%, rgba(16,9,35,1) 100%);
    margin-bottom: 60px;
}

html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
      }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.mycard{
    min-height: 150px;
}

.card{
    min-height: 150px;
}